/* 추후 모듈화 예정 */
body {
	font-family: "SpoqaHanSansNeo";
}
.defaultButton {
	width: 100px;
	border: none;
	color: white;
	background-color: #3f7bf2;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
	font-family: "SpoqaHanSansNeo";
}
.flexContainer {
	display: flex;
	flex: 1;
	flex-direction: row;
}
.postForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.postIt {
	display: flex;
	flex-direction: column;
	background-color: #ffd359;
	border-radius: 20px;
	width: 270px;
	height: 170px;
}
.post {
	background-color: #ffd359;
	border: none;
	border-radius: 20px 20px 10px 10px;
	padding: 10px;
	outline-style: none;
	resize: none;
	font-family: "SpoqaHanSansNeo";
}
.colorPalette {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fffafa;
	overflow: visible;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 1px 3px 1px #f0f0f0;
}
.colorButton {
	display: block;
	border-radius: 50px;
	margin: 5px;
	height: 15px;
	width: 15px;
	box-shadow: 1px 3px 1px #f0f0f0;
}

@font-face {
	font-family: "SpoqaHanSansNeo";
	font-style: normal;
	src: url("fonts/SpoqaHanSansNeo-Regular.ttf");
}
@font-face {
	font-family: "SpoqaHanSansNeo";
	font-style: thin;
	src: url("fonts/SpoqaHanSansNeo-Thin.ttf");
}
@font-face {
	font-family: "SpoqaHanSansNeo";
	font-style: bold;
	src: url("fonts/SpoqaHanSansNeo-Bold.ttf");
}
